<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <div class="row">
                <div class="col-md-7 col-md-offset-3">
                    <h4 class="modal-title">{% trans from 'SonataBasketBundle' %}sonata.basket.product.added{% endtrans %}</h4>
                </div>
            </div>
        </div>
        <div class="modal-body">
            {% block product_details %}

                {% if basket.hasBasketElements %}

                    {{ form_errors(form) }}

                    <form action="{{ url('sonata_basket_update') }}" method="POST" novalidate="novalidate">

                        <table class="table bag">

                            <thead>
                            <tr>
                                <th class="col-sm-6">{% trans from 'SonataBasketBundle'%}header_basket_information{% endtrans %}</th>
                                <th class="text-center">{% trans from 'SonataBasketBundle'%}header_basket_unit_price{% endtrans %}</th>
                                <th class="col-sm-1 text-center">{% trans from 'SonataBasketBundle'%}header_basket_quantity{% endtrans %}</th>
                                <th class="text-center">{% trans from 'SonataBasketBundle'%}header_basket_total_inc{% endtrans %}</th>
                                <th class="text-center">{% trans from 'SonataBasketBundle'%}header_basket_delete{% endtrans %}</th>
                            </tr>
                            </thead>

                            <tbody>
                            {# call each product controller to render its own view #}
                            {% for basketElement in basket.getBasketElements %}
                                {% render controller('SonataProductBundle:Product:renderFormBasketElement', {
                                'formView':       form.basketElements.children[basketElement.position],
                                'basketElement':  basketElement,
                                'basket':         basket
                                }) %}
                            {% endfor %}

                            {# mark the widget as rendered ... TODO: create a custom widget type ...#}
                            {% set dummy = form.basketElements.setrendered %}
                            </tbody>

                            <tfoot>
                            <tr>
                                <td colspan="3" rowspan="{{ 3 + basket.getVatAmounts|length }}"></td>
                                <th style="text-align: right">{% trans from 'SonataBasketBundle'%}footer_basket_total_excl{% endtrans %}</th>
                                <td colspan="2" class="number"><b>{{ basket.getTotal(false)|number_format_currency(basket.currency.label, {}, {}, basket.locale) }}</b></td>
                            </tr>

                            {% for item in basket.getVatAmounts %}
                                <tr>
                                    <th style="text-align: right">{{ 'footer_basket_vat'|trans({}, 'SonataBasketBundle') }} {{ item.rate }}%</th>
                                    <td colspan="2" class="number"><b>{{ item.amount|number_format_currency(basket.currency.label, {}, {}, basket.locale) }}</b></td>
                                </tr>
                            {% endfor %}

                            <tr>
                                <th style="text-align: right">{% trans from 'SonataBasketBundle'%}footer_basket_total_vat{% endtrans %}</th>
                                <td colspan="2" class="number"><b>{{ basket.getVatAmount()|number_format_currency(basket.currency.label, {}, {}, basket.locale) }}</b></td>
                            </tr>

                            <tr>
                                <th style="text-align: right">{% trans from 'SonataBasketBundle'%}footer_basket_total_inc{% endtrans %}</th>
                                <td colspan="2" class="number"><b>{{ basket.getTotal(true)|number_format_currency(basket.currency.label, {}, {}, basket.locale) }}</b></td>
                            </tr>
                            </tfoot>

                        </table>


                        <button type="submit" class="btn basket-control">{% trans from 'SonataBasketBundle' %}sonata.basket.btn_update_basket{% endtrans %}</button>

                        <a href="{{ url('sonata_basket_delivery_address') }}" class="btn pull-right sonata-basket-nextstep"{% if form.vars.errors is not empty %} disabled{% endif %}>{% trans from 'SonataBasketBundle' %}sonata.basket.link_next_step{% endtrans %}&nbsp;</a>


                        {{ form_rest(form) }}
                    </form>
                    {#
                        {% set single_basket_element = basket.basketElements|last %}
                        {{ sonata_block_render({'type': 'sonata.product.block.similar_products', 'settings': {'number': 4, 'base_product_id': single_basket_element.productId}}) }}
                    #}
                {% else %}

                    <p>
                        {% trans from 'SonataBasketBundle' %}sonata.basket.message_basket_is_empty{% endtrans %}.
                        <br />
                        <a href="{{ path('sonata_catalog_index') }}">{% trans from 'SonataBasketBundle' %}sonata.basket.message_basket_go_back_shopping{% endtrans %}</a>.
                    </p>
                    {#
                        {{ sonata_block_render({'type': 'sonata.product.block.recent_products', 'settings': {'number': 4}}) }}
                    #}
                {% endif %}
            {% endblock %}
        </div>
        <div class="modal-footer">
            <div class="row-fluid">
            </div>
        </div>
    </div>
</div>