{% extends "SonataUserBundle:Profile:action.html.twig" %}

{% block sonata_profile_title %}
    {{ "title_user_account" | trans({}, 'SonataUserBundle')}} - {{ "title_user_edit_profile" | trans({}, 'SonataUserBundle')}}
{% endblock %}

{% block sonata_profile_content %}
    {{ form_errors(form) }}

    {% form_theme form 'CTICibourBundle:Form:cti_form.html.twig' %}

    <div class="col-lg-10 col-sm-10 col-lg-offset-1 col-sm-offset-1 no-pad marg-bot-delivery marg-top-30">
        <div class="col-xs-12 col-md-5 no-pad "><hr class="delivery"></div>
        <div class="col-xs-12 col-md-2 no-pad"><h2 class=" text-center text-up-bold-2 marg-top-delivery"> {{ "title_user_account" | trans({}, 'SonataUserBundle')}}</h2> <h3 class=" text-center text-up-bold-3 marg-top-delivery">edit</h3></div>
        <div class="col-xs-12 col-md-5 no-pad"><hr class="delivery"></div>
    </div>
        <div class="panel-body profile-edit col-lg-12">

            <form action="{{ path('sonata_user_profile_edit') }}" method="POST" class="form-horizontal">
                {{ form_widget(form) }}
                <div class="form-actions">
                    <button type="submit" name="submit"  class="btn text-center">{{ 'sonata_user_submit'|trans({}, 'SonataUserBundle') }}</button>
                </div>
            </form>
        </div>
{% endblock %}