<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <div class="row">
                <div class="col-md-7 col-md-offset-3">
                    <h4 class="modal-title">{% trans from 'SonataBasketBundle' %}sonata.basket.product.added{% endtrans %}</h4>
                </div>
            </div>
        </div>
        <div class="modal-body">
            {% block product_details %}

                {% if basket.hasBasketElements %}

                    {{ form_errors(form) }}

                    <form action="{{ url('sonata_basket_update') }}" method="POST" novalidate="novalidate">

                        <table class="table bag">
                            <tbody>
                            {# call each product controller to render its own view #}
                            {% for basketElement in basket.getBasketElements %}
                                {% render controller('SonataProductBundle:Prodotto:renderFormBasketElement', {
                                'formView':       form.basketElements.children[basketElement.position],
                                'basketElement':  basketElement,
                                'basket':         basket,
                                'modal':          true
                                }) %}
                            {% endfor %}

                            {# mark the widget as rendered ... TODO: create a custom widget type ...#}
                            {% set dummy = form.basketElements.setrendered %}
                            </tbody>
                        </table>


                        <button type="submit" class="btn basket-control">{% trans from 'SonataBasketBundle' %}sonata.basket.btn_update_basket{% endtrans %}</button>

                        <a href="{{ url('sonata_basket_delivery_address') }}" class="btn pull-right sonata-basket-nextstep"{% if form.vars.errors is not empty %} disabled{% endif %}>{% trans from 'SonataBasketBundle' %}sonata.basket.link_next_step{% endtrans %}&nbsp;</a>


                        {{ form_rest(form) }}
                    </form>
                    {#
                        {% set single_basket_element = basket.basketElements|last %}
                        {{ sonata_block_render({'type': 'sonata.product.block.similar_products', 'settings': {'number': 4, 'base_product_id': single_basket_element.productId}}) }}
                    #}
                {% else %}

                    <p>
                        {% trans from 'SonataBasketBundle' %}sonata.basket.message_basket_is_empty{% endtrans %}.
                        <br />
                        <a href="{{ path('sonata_catalog_index') }}">{% trans from 'SonataBasketBundle' %}sonata.basket.message_basket_go_back_shopping{% endtrans %}</a>.
                    </p>
                    {#
                        {{ sonata_block_render({'type': 'sonata.product.block.recent_products', 'settings': {'number': 4}}) }}
                    #}
                {% endif %}
            {% endblock %}
        </div>
    </div>
</div>