{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% block sonata_flash_messages %}

{% endblock %}

{% include 'SonataBasketBundle:Basket:stepper.html.twig' with {step: 'basket'} %}
<div class="col-md-6 col-md-offset-3">
    {% include 'SonataCoreBundle:FlashMessage:render.html.twig' %}
</div>
{% if basket.hasBasketElements %}

    {{ form_errors(form) }}
<div class=" col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 pad-mob-0">
    <form action="{{ url('sonata_basket_update') }}" method="POST" novalidate="novalidate">

        <table class="table bag">

            <thead>

            <div class=" col-xs-12 visible-xs hidden-md no-pad"><hr /></div>

            <div class=" col-xs-5 col-sm-6  no-pad "  >
                <div class="no-pad hidden-xs col-sm-1 center-block"><hr style="border-color:black;" class=""/></div>
                <div class=" no-pad col-xs-12 col-sm-2 cart-thead  text-up-bold-2 text-center  thead-tablebag-margin-text">{% trans from 'SonataBasketBundle'%}header_basket_information{% endtrans %}</div>
                <div class="no-pad  hidden-xs col-sm-9 center-block"><hr style="border-color:black;"/></div>
            </div>

            <div class="col-xs-5 col-sm-3  no-pad cart-thead ">
                <div class="no-pad hidden-xs col-sm-1  "><hr style="border-color:black;"/></div>
                <div class="no-pad col-xs-5 col-sm-4  text-up-bold-2  text-center thead-tablebag-margin-text  ">{% trans from 'SonataBasketBundle'%}header_basket_unit_price{% endtrans %}</div>
                <div class="no-pad hidden-xs col-sm-1  "><hr style="border-color:black;"/></div>
                <div class="no-pad col-xs-7 col-sm-4 text-up-bold-2 thead-tablebag-margin-text text-center    ">{% trans from 'SonataBasketBundle'%}header_basket_quantity{% endtrans %}</div>
                <div class="no-pad hidden-xs col-sm-2  center-block"><hr style="border-color:black;"/></div>
            </div>

            <div class="col-xs-2 col-sm-3  no-pad cart-thead ">
                <div class="no-pad hidden-xs col-sm-1  "><hr style="border-color:black; "/></div>
                <div class="col-xs-10 col-sm-4 text-up-bold-2 font-mob-2 text-center ">{% trans from 'SonataBasketBundle'%}header_basket_total_inc{% endtrans %}</div>
                <div class="no-pad hidden-xs col-sm-4 "><hr style="border-color:black; "/></div>
                <div class="no-pad col-xs-2 col-sm-2 font-mob-2 thead-tablebag-margin-text text-center  " >{% trans from 'SonataBasketBundle'%}header_basket_delete{% endtrans %}</div>
                <div class="no-pad hidden-xs col-sm-1 " ><hr style="border-color:black;"/></div>
            </div>

            <div class="visible-xs col-xs-12  hidden-md no-pad"><hr /></div>
            </thead>

            <tbody>
                {# call each product controller to render its own view #}
                {% for basketElement in basket.getBasketElements %}
                    {% render controller('SonataProductBundle:Product:renderFormBasketElement', {
                        'formView':       form.basketElements.children[basketElement.position],
                        'basketElement':  basketElement,
                        'basket':         basket
                    }) %}
                {% endfor %}

                {# mark the widget as rendered ... TODO: create a custom widget type ...#}
                {% set dummy = form.basketElements.setrendered %}
            </tbody>
            <div>
            <tfoot class=" text-up-bold-2 ">
                <tr>
                    <td colspan="3" rowspan="{{ 3 + basket.getVatAmounts|length }}"></td>
                    <th style="text-align: right">{% trans from 'SonataBasketBundle'%}footer_basket_total_excl{% endtrans %}</th>
                    <td colspan="2" class="number"><b>{{ basket.getTotal(false)|number_format_currency(basket.currency.label, {}, {}, basket.locale) }}</b></td>
                </tr>

                <tr>
                    <th style="text-align: right">{% trans from 'SonataBasketBundle'%}footer_basket_total_vat{% endtrans %}</th>
                    <td colspan="2" class="number"><b>{{ basket.getVatAmount()|number_format_currency(basket.currency.label, {}, {}, basket.locale) }}</b></td>
                </tr>
                <tr>
                    <th style="text-align: right">{% trans from 'SonataBasketBundle'%}footer_basket_total_inc{% endtrans %}</th>
                    <td colspan="2" class="number"><b>{{ basket.getTotal(true)|number_format_currency(basket.currency.label, {}, {}, basket.locale) }}</b></td>
                </tr>
            </tfoot>
            </div>
        </table>
        <div class=" col-xs-12 no-pad"><hr /></div>


        <button type="submit" class="btn basket-control text-up-bold-2 table-buttons-mob">{% trans from 'SonataBasketBundle' %}sonata.basket.btn_update_basket{% endtrans %}</button>

        <a href="{{ url('sonata_basket_delivery_address') }}" class="btn pull-right sonata-basket-nextstep text-up-bold-2 table-buttons-mob"{% if form.vars.errors is not empty %} disabled{% endif %}>{% trans from 'SonataBasketBundle' %}sonata.basket.link_next_step{% endtrans %}&nbsp;</a>


        {{ form_rest(form) }}
    </form>
</div>
{#
    {% set single_basket_element = basket.basketElements|last %}
    {{ sonata_block_render({'type': 'sonata.product.block.similar_products', 'settings': {'number': 4, 'base_product_id': single_basket_element.productId}}) }}
#}
{% else %}
<div class="col-xs-12 text-center">
    <p>
        {% trans from 'SonataBasketBundle' %}sonata.basket.message_basket_is_empty{% endtrans %}.
        <br />
    <div class="text-up-bold-2"><a href="{{ path('sonata_catalog_index') }}">{% trans from 'SonataBasketBundle' %}sonata.basket.message_basket_go_back_shopping{% endtrans %}</a>.</div>
    </p>
    </div>
{#
    {{ sonata_block_render({'type': 'sonata.product.block.recent_products', 'settings': {'number': 4}}) }}
#}
{% endif %}
