{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% block sonata_flash_messages %}
    {% include 'SonataCoreBundle:FlashMessage:render.html.twig' with {domain: 'SonataCustomerBundle'} %}
{% endblock %}

{% include 'SonataBasketBundle:Basket:stepper.html.twig' with {step: 'billing'} %}


{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
{{ form_errors(form) }}

<div class="row">
    {% if form.addresses is defined %}
    <div class="col-xs-12 col-md-6 col-md-offset-3">
            <div class="panel">
                <div class="panel-heading no-pad">
                    <div class="panel-title">
                        <div class="col-xs-12 col-md-2 no-pad "><hr/></div>
                        <div class="col-xs-12 col-md-8 no-pad ">
                            <h2 class="panel-title text-up-bold-2 text-center">{% trans from 'SonataBasketBundle' %}sonata.basket.delivery_use_existing_title{% endtrans %}</h2>
                        </div>
                        <div class="col-xs-12 col-md-2 no-pad "><hr/></div>
                    </div>
                </div>
                <ul class="list-group">
                    {% for address in form.addresses %}
                        <li class="list-group-item">
                            <div class="radio">
                                <label for="{{ address.vars.id }}">
                                    {{ form_widget(address, {'checked': (address.vars.value in (form.addresses.vars.preferred_choices|keys))}) }}
                                    {{ sonata_address_render(address.vars.label, true, true) }}
                                </label>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        <a href="{{ url('sonata_basket_delivery') }}" class="btn basket-control text-up-bold-2">{% trans from 'SonataBasketBundle' %}sonata.basket.link_previous_step{% endtrans %}</a>
        {{ form_widget(form.useSelected, {'attr': {'class': 'pull-right btn basket-control text-up-bold-2'}}) }}
        </div>
    </div>


    {% else %}
        {% form_theme form 'CTICibourBundle:Form:basket_form.html.twig' %}
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <div class="col-lg-10 col-sm-10 col-lg-offset-1 col-sm-offset-1 no-pad marg-bot-delivery">
                <div class="col-xs-12 col-md-4 no-pad "><hr class="delivery"></div>
                <div class="col-xs-12 col-md-4 no-pad"><h2 class=" text-center text-up-bold-2 marg-top-delivery"> INSERISCI INDIRIZZO DI FATTURAZIONE</h2></div>
                <div class="col-xs-12 col-md-4 no-pad"><hr class="delivery"></div>
            </div>
            {{ form_rest(form) }}
            <a href="{{ url('sonata_basket_delivery') }}" class="btn basket-control text-up-bold-2">{% trans from 'SonataBasketBundle' %}sonata.basket.link_previous_step{% endtrans %}</a>

            <button type="submit" class="btn basket-control pull-right text-up-bold-2">{{ 'sonata.basket.btn_update_payment_step'|trans({}, 'SonataBasketBundle') }}</button>
        </div>
    </div>
    {% endif %}

{{ form_end(form) }}
