{% block stepper_stylesheet %}
    <link rel="stylesheet" href="{{ asset('bundles/sonatabasket/css/stepper.css') }}" type="text/css" media="all" />
{% endblock %}

{% block stepper_content %}
    <ul class="stepper no-pad">
        <li class="hidden-xs hidden-sm {% if 'basket' == step %} active{% endif %}">
            <div class="img-circle">1</div>
            <p>{{ 'basket_stepper_basket_title'|trans({}, 'SonataBasketBundle') }}</p>
        </li>

        <li class="hidden-sm hidden-xs {% if 'identification' == step %} active{% endif %}">
            <div class="img-circle">2</div>
            <p>{{ 'basket_stepper_identification_title'|trans({}, 'SonataBasketBundle') }}</p>
        </li>

        <li class="hidden-sm hidden-xs {% if 'delivery' == step %} active{% endif %}">
            <div class="img-circle">3</div>
            <p>{{ 'basket_stepper_delivery_title'|trans({}, 'SonataBasketBundle') }}</p>
        </li>

        <li class="hidden-sm hidden-xs {% if 'billing' == step %} active{% endif %}">
            <div class="img-circle">4</div>
            <p>{{ 'basket_stepper_billing_title'|trans({}, 'SonataBasketBundle') }}</p>
        </li>

        <li class="hidden-sm hidden-xs {% if 'checkout' == step %} active{% endif %}">
            <div class="img-circle">5</div>
            <p>{{ 'basket_stepper_checkout_title'|trans({}, 'SonataBasketBundle') }}</p>
        </li>
    </ul>
    <script>
        var toSee = $( "ul.stepper > li.active" );
        if (toSee.is("ul.stepper > li.active")){
            toSee.removeClass("hidden-xs hidden-sm");
        }
    </script>
{% endblock %}