{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% set variations_properties = variations_properties|default([]) %}

{% block product_javascript_init %}
    <script type="text/javascript">
        jQuery(document).ready(function() {
            Sonata.Product.init({
                url: {
                    infoStockPrice: '{{ path('sonata_product_price_stock', {'productId': product.id}) }}'
                },
                targets: {
                    inputAddBasket:  $('#add_basket_quantity'),
                    productPrice:    $('#sonata_product_price'),
                    submitBasketBtn: $('#sonata_add_basket_submit'),
                    addBasketError:  $('#sonata_add_basket_error')
                }
            });
        });
    </script>
{% endblock %}

{% block breadcrumb %}

{% endblock %}

{% block product %}
    {% include 'SonataCoreBundle:FlashMessage:render.html.twig' %}
    <!-- Begin product display -->

    <div class="row" itemscope itemtype="http://schema.org/Product">
        <div class="col-md-12">
            <div class="col-sm-3 text-center">
                {% thumbnail product.image, 'small' with {'itemprop':'image', 'class': 'img-rounded img-responsive', 'style': 'margin: 0 10px 10px 0;'} %}
            </div>
            <div class="col-sm-6">
                <h4 itemprop="name">{{ product.name }}</h4>
                <h5 itemprop="produttore">{{ product.produttore }}</h5>
                <h6 itemprop="price">
                    {% block product_price_price %}
                        {% if provider.hasEnabledVariations(product) %}
                            {{ cheapest_variation.price|number_format_currency(currency) }}
                        {% else %}
                            {{ sonata_product_price(product, currency, true)|number_format_currency(currency) }}
                        {% endif %}
                    {% endblock %}
                </h6>
                <div class="col-md-12 hidden-sm">
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <img src="
                            {% if product.macroregione == 0 %}
                                {{ asset('bundles/cticibour/images/italia/nord.png') }}
                            {% elseif product.macroregione == 1 %}
                                {{ asset('bundles/cticibour/images/italia/centro.png') }}
                            {% elseif product.macroregione == 2 %}
                                {{ asset('bundles/cticibour/images/italia/sud.png') }}
                            {% elseif product.macroregione == 3 %}
                                {{ asset('bundles/cticibour/images/italia/isole.png') }}
                            {% endif %}
                        " style="margin: 0 10px 10px 0; width:50px;" class="img-rounded img-responsive pull-left" itemprop="image">                    </div>
                    {% if product.isSalable %}
                    <div class="col-md-6">
                        {% block product_basket %}
                            {% include "ApplicationSonataBasketBundle:Basket:add_product_form.html.twig" %}
                        {% endblock %}
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-3 text-center">
                {% thumbnail product.image, 'small' with {'itemprop':'image', 'class': 'img-rounded img-responsive', 'style': 'margin: 0 10px 10px 0;'} %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <table class="table text-center prodotto">
                <tr>
                    <th class="{% if product.glutenFree %}disabled{% endif %}"><small>GLUTEN FREE</small></th>
                    <th><small> {{ product.tipoDieta }}</small></th>
                    <th><small>{{ product.metodoProduzione }}</small></th>
                </tr>
                <tr>
                    <td><a class="active" href="#descrizione" aria-controls="descrizione" role="tab" data-toggle="tab">Descrizione</a></td>
                    <td><a href="#eat-with" aria-controls="eat-with" role="tab" data-toggle="tab">eat with</a></td>
                    <td><a href="#more" aria-controls="more" role="tab" data-toggle="tab">prodotti simili</a></td>
                </tr>
            </table>
        </div>
        <div class="col-md-4"></div>
    </div>
        <div class="col-xs-12">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="descrizione">{{ product.description }}</div>
                <div role="tabpanel" class="tab-pane" id="eat-with">eat with</div>
                <div role="tabpanel" class="tab-pane" id="more">more</div>
            </div>
        </div>
    </div>
    <script>
        $('table.prodotto a').click(function (e){
            $('table.prodotto a.active').removeClass('active');
            $(this).addClass('active');
        })
    </script>
{% endblock %}
