<html>
<body>

<table width="600" style="margin: 0 auto 0 auto; width: 600px;">
    <tr align="center">
        <td>
            <a href="{{ app.request.getSchemeAndHttpHost() ~ path('sonata_catalog_index') }}">
                <img width="400" src="http://cibour.com/uploads/media/default/0001/01/289cefba4da0999587c81767e037e14f96819013.jpeg">
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <p>
                Grazie di avere acquistato i nostri prodotti. Ecco il riepilogo del Suo ordine rif. <a href="{{ app.request.getSchemeAndHttpHost() ~ path('sonata_order_view', {'reference' : order.reference}) }}">{{ order.reference }}</a>
            </p>
            {% if order.regalo %}
                <p>
                    <b>ATTENZIONE: questo ordine è un regalo</b>
                </p>
            {% endif %}

            <table style="font-size: 12px; border-collapse: collapse; width: 100%; margin: 30px;">
                 <thead>
                    <tr style="padding: 10px" align="center">
                        <th>{% trans from 'SonataOrderBundle' %}sonata.order.view.element.label{% endtrans %}</th>
                        <th>{% trans from 'SonataOrderBundle' %}sonata.order.view.element.unit_price{% endtrans %}</th>
                        <th>{% trans from 'SonataOrderBundle' %}sonata.order.view.element.quantity{% endtrans %}</th>
                        <th>{% trans from 'SonataOrderBundle' %}sonata.order.view.total_inc{% endtrans %}</th>
                    </tr>
                 </thead>
                <tbody>
                {% for element in order.orderElements %}
                    <tr style="margin-bottom: 10px;">
                        <td style="border-bottom: 1px solid black; padding: 10px">{{ element.designation }}</td>
                        <td style="border-bottom: 1px solid black; padding: 10px" align="center">{{ element.unitPrice(true)|number_format_currency(order.currency.label, {}, {}, order.locale) }}</td>
                        <td style="border-bottom: 1px solid black; padding: 10px" align="center">{{ element.quantity }}</td>
                        <td style="border-bottom: 1px solid black; padding: 10px" align="right">{{ element.total(true)|number_format_currency(order.currency.label, {}, {}, order.locale) }}</td>
                    </tr>
                {% endfor %}
                <tr style="margin-bottom: 10px">
                    <td style="border-bottom: 1px solid black; padding: 10px">{% trans from 'SonataOrderBundle' %}sonata.order.view.delivery{% endtrans %}</td>
                    <td style="border-bottom: 1px solid black; padding: 10px" align="center">{{ order.deliveryCost|number_format_currency(order.currency.label, {}, {}, order.locale) }}</td>
                    <td style="border-bottom: 1px solid black; padding: 10px" align="center">1</td>
                    <td style="border-bottom: 1px solid black; padding: 10px" align="right">{{ order.deliveryCost|number_format_currency(order.currency.label, {}, {}, order.locale) }}</td>
                </tr>
                </tbody>

                <tfoot>
                    <tr style="margin-bottom: 10px">
                        <td colspan="2" rowspan="{{ 3 + order.getVatAmounts|length }}">&nbsp;</td>
                        <th style="text-align: right">{% trans from 'SonataOrderBundle' %}sonata.order.view.total_excl{% endtrans %}</th>
                        <td style="padding: 0 10px" align="right"><b>{{ order.totalExcl|number_format_currency(order.currency.label, {}, {}, order.locale) }}</b></td>
                    </tr>

                    <tr style="margin-bottom: 10px">
                        <th style="text-align: right">{% trans from 'SonataOrderBundle' %}sonata.order.view.total_vat{% endtrans %}</th>
                        <td style="padding: 0 10px" align="right"><b>{{ order.vat|number_format_currency(order.currency.label, {}, {}, order.locale) }}</b></td>
                    </tr>

                    <tr style="margin-bottom: 10px">
                        <th style="text-align: right">{% trans from 'SonataOrderBundle' %}sonata.order.view.total_inc{% endtrans %}</th>
                        <td style="padding: 0 10px" align="right"><b>{{ order.totalInc|number_format_currency(order.currency.label, {}, {}, order.locale) }}</b></td>
                    </tr>
                </tfoot>
            </table>
            <table style="font-size: 12px; border-collapse: collapse;width: 100%; margin: 30px;">
                <thead>
                <tr style="padding: 10px" align="center">
                    <th>
                        {% trans from 'SonataOrderBundle' %}sonata.order.view.delivery_title{% endtrans %}
                    </th>
                    <th>
                        {% trans from 'SonataOrderBundle' %}sonata.order.view.billing_title{% endtrans %}
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr style="padding: 10px" align="center">
                    <td style="border-bottom: 1px solid black; padding: 10px; width: 50%;">
                        {% if order.deliverycost != 0 %}
                                {{ sonata_address_render(order.deliveryAsArray) }}
                        {% else %}
                            <i>{{ 'sonata.basket.title_delivery_address_not_required'|trans({}, 'SonataBasketBundle') }}</i>
                        {% endif %}
                    </td>
                    <td style="border-bottom: 1px solid black; padding: 10px;width: 50%;">
                        {{ sonata_address_render(order.billingAsArray) }}
                    </td>
                </tr>
                </tbody>
            </table>
            <table style="font-size: 12px; border-collapse: collapse;width: 100%; margin: 30px;">
                <thead>
                <tr style="padding: 10px" align="center">
                    <th>
                        {{ 'sonata.basket.title_delivery_method'|trans({}, 'SonataBasketBundle') }}
                    </th>
                    <th>
                        {{ 'sonata.basket.title_payment_method'|trans({}, 'SonataBasketBundle') }}
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr style="padding: 10px" align="center">
                    <td style="border-bottom: 1px solid black; padding: 10px; width: 50%;">
                        {% if order.deliverymethod == 'dhl' %}
                            Corriere Espresso*
                        {% else %}
                            Ritiro presso Container èPASTA di P.le Cadorna di fronte Stazione Nord, Milano*<br>
                            <a href="https://www.google.com/maps?ll=45.468134,9.176785&z=16&t=m&hl=it-IT&gl=IT&mapclient=embed&q=Piazzale+Luigi+Cadorna+20123+Milano">
                                (vedi mappa)
                            </a>
                        {% endif %}
                    </td>
                    <td style="border-bottom: 1px solid black; padding: 10px; width: 50%;">
                        {% if order.paymentmethod == 'pass' %}
                            BONIFICO BANCARIO
                        {% elseif order.paymentmethod == 'pass' %}
                            Carta di Credito
                        {% else %}
                            {{ order.paymentmethod|capitalize }}
                        {% endif %}

                    </td>
                </tr>
                </tbody>
            </table>
            <i style="font-size: 10px">*Alcuni prodotti potrebbero non essere disponibili prima di 7 giorni</i>
            </p>
            <br>
            <p>
                Nel caso in cui Lei non abbia scelto la modalità di pagamento on line e decida di effettuare il pagamento tramite bonifico bancario:<br>
                <div><b>IBAN IT 58 F 05034 01633 00 00 00 005579</b> intestato a <b>CTI SRL</b></div><br><br><br>
                La informiamo che il Suo ordine verrà evaso dopo 3 giorni lavorativi previa verifica dell’avvenuto pagamento.
            </p>

            <p style="text-align: center; font-size: 10px;">
                <a href="http://cibour.com/PRIVACY.pdf">DISCLOSURE SULLA PRIVACY</a> - <a href="http://cibour.com/CONDIZIONIDIVENDITA.pdf">CONDIZIONI GENERALI</a>
            </p>
            <p>
                <a href="{{ app.request.getSchemeAndHttpHost() ~ path('sonata_catalog_index') }}">Vai al sito</a>
            </p>
        </td>
    </tr>
    <tr align="center">
        <td>
            <p>
                Customer service <a href="mailto:ecommerce@cibour.com">ecommerce@cibour.com</a><br>
                Telefono +39 392 5948794
            </p>
            <p >
                <a style="text-decoration: none" href="https://www.facebook.com/Cibour-179476069060260/">
                    <img width="20" src="http://cibour.com/uploads/media/default/0001/01/602f97841073baf7e9f19ac7dcb0e3761a3731ae.png">
                </a>
                <a style="text-decoration: none" href="https://is.gd/luMbOa">
                    <img width="20" src="http://cibour.com/uploads/media/default/0001/01/1da3f87c8cc838d24816a793507e3ac9e1fea395.png">
                </a>
            </p>
        </td>
    </tr>
    </table>
</body>
</html>