{% extends 'CTICibourBundle::layout.html.twig' %}

{% block sonata_page_container %}
    <div class="container">
        <div style="height: 100px"></div>
        <div class="row">
            <div class="col-xs-12">
                <img style="max-width: 285px;" class="img-responsive center-block" src="{{ asset('bundles/cticibour/images/cibour_logo.png') }}">
            </div>
        </div>
        <div style="height: 160px"></div>
        <div class="row">
            <div class="col-xs-12">
                <img style="max-height: 30px;" class="img-responsive center-block" src="{{ asset('bundles/cticibour/images/barra_ricerca.png') }}">
            </div>
        </div>
        <div style="height: 90px"></div>
        <div class="row">
            <div class="col-sm-2 col-xs-4 col-sm-offset-3">
                <a href="http://latavolaitaliana.org">
                    <img style="max-height: 100px;" class="img-responsive center-block" src="{{ asset('bundles/cticibour/images/The_Italian.png') }}">
                </a>
            </div>
            <div class="col-sm-2 col-xs-4">
                <a href="https://www.youtube.com/watch?v=rUqnIxiIFaY">
                    <img style="max-height: 100px;" class="img-responsive center-block" src="{{ asset('bundles/cticibour/images/The_Italian_Pod.png') }}">
                </a>
            </div>
            <div class="col-sm-2 col-xs-4">
                <img style="max-height: 100px;" class="img-responsive center-block" src="{{ asset('bundles/cticibour/images/The_Italian_fody.png') }}">
            </div>
        </div>
    </div>

{% endblock %}
