{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends "SonataUserBundle:Profile:action.html.twig" %}


{% block sonata_profile_title %}{% trans from 'SonataOrderBundle' %}sonata.order.title_order{% endtrans %} - {{ order.reference }}{% endblock %}

{% block sonata_profile_content %}
<div class="col-xs-12 col-sm-10 col-sm-offset-1 no-pad">
   {# {% block sonata_order_title %}
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-sm-offset-4 text-center marg-top-30 marg-bot-30">
            <p>
                <a href="{{ url('sonata_invoice_view', {'reference' : order.reference}) }}" class="btn text-up-bold-2"><i class="glyphicon glyphicon-file icon-white"></i>&nbsp;{% trans from 'SonataOrderBundle' %}sonata.order.view_invoice{% endtrans %}</a>
            </p>
        </div>
    </div>
    {% endblock %}#}

    {% block sonata_order_top %}
    <div class="row marg-bot-30 marg-top-30">
        {% block sonata_order_dates_statuses %}
            <div class="col-xs-12 col-sm-6 no-pad-l no-pad-xs  ">
                {% block sonata_order_dates %}
                    {% set date_time_size = constant('IntlDateFormatter::SHORT') %}
                    <!-- a-->
                            <div class="panel   ">
                                <div class="col-sm-5 col-xs-12 no-pad  "><hr /></div>
                                <div class="col-xs-12 col-sm-2 text-up-bold-2 text-center no-pad marg-top-10">{% trans from 'SonataOrderBundle' %}sonata.order.view.subtitle_dates{% endtrans %}</div>
                                <div class="col-sm-5 col-xs-12 no-pad"><hr  /></div>
                                <table class="table dates">
                                    <tr>
                                        <th>{% trans from 'SonataOrderBundle' %}sonata.order.view.created_at{% endtrans %}</th>
                                        <td>{{ order.createdAt|format_datetime(null, order.locale, null, date_time_size, date_time_size) }}</td>
                                    </tr>
                                    <tr>
                                        <th>{% trans from 'SonataOrderBundle' %}sonata.order.view.validated_at{% endtrans %}</th>
                                        <td>
                                            {% if order.validatedAt %}
                                                {{ order.validatedAt|format_datetime(null, order.locale, null, date_time_size, date_time_size) }}
                                            {% else %}
                                                /
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>{% trans from 'SonataOrderBundle' %}sonata.order.view.updated_at{% endtrans %}</th>
                                        <td>{{ order.updatedAt|format_datetime(null, order.locale, null, date_time_size, date_time_size) }}</td>
                                    </tr>
                                </table>
                        </div>
                        <div class="col-xs-12 col-sm-12 no-pad"><hr/></div>
                {% endblock %}
            </div>
            <div class="col-xs-12 col-sm-6 no-pad-r no-pad-xs review-panel marg-top-mob-30">
                {% block sonata_order_statuses %}
                    <div class="panel no-pad    ">
                        <div class="col-sm-5 col-xs-12 no-pad  "><hr /></div>
                        <div class="col-xs-12 col-sm-2 text-up-bold-2 text-center no-pad marg-top-10">{% trans from 'SonataOrderBundle' %}sonata.order.view.subtitle_statuses{% endtrans %}</div>
                        <div class="col-sm-5 col-xs-12 no-pad"><hr  /></div>

                        <table class="table status">
                            <tr>
                                <th>{% trans from 'SonataOrderBundle' %}sonata.order.view.order_status{% endtrans %}</th>
                                <td><span class="label{{ order|sonata_status_class(null, 'danger') ? ' label-'~order|sonata_status_class(null, 'danger') : '' }}">{{ order.statusName|trans({}, 'SonataOrderBundle') }}</span></td>
                            </tr>
                            <tr>
                                <th>{% trans from 'SonataOrderBundle' %}sonata.order.view.payment_status{% endtrans %}</th>
                                <td><span class="label{{ order|sonata_status_class('payment', 'danger') ? ' label-'~order|sonata_status_class('payment', 'danger') : '' }}">{{ order.paymentStatusName|trans({}, 'SonataPaymentBundle') }}</span></td>
                            </tr>
                            <tr>
                                <th>{% trans from 'SonataOrderBundle' %}sonata.order.view.delivery_status{% endtrans %}</th>
                                <td><span class="label{{ order|sonata_status_class('delivery', 'danger') ? ' label-'~order|sonata_status_class('delivery', 'danger') : '' }}">{{ order.deliveryStatusName|trans({}, 'SonataDeliveryBundle') }}</span></td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-12 no-pad"><hr/></div>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
    <div class="row marg-top-30">
        {% block sonata_order_top_right %}
            <div class="col-xs-12 col-sm-6 no-pad-l  no-pad-xs">
                {% block sonata_order_delivery %}
                    <div class="panel   ">
                        <div class="col-sm-4 col-xs-12 no-pad  "><hr /></div>
                        <div class="col-xs-12 col-sm-4 text-up-bold-2 text-center no-pad marg-top-10">{% trans from 'SonataOrderBundle' %}sonata.order.view.delivery_title{% endtrans %}</div>
                        <div class="col-sm-4 col-xs-12 no-pad"><hr  /></div>
                        <div class="panel-body review-panel">
                            <div class="row"><div class="col-sm-12">{{ sonata_address_render(order.deliveryAsArray) }}</div></div>
                        </div>
                    </div>
                {% endblock %}
            </div>
            <div class="col-xs-12 col-sm-6 no-pad-r no-pad-xs">
                {% block sonata_order_billing %}
                    <div class="panel  ">
                        <div class="col-sm-4 col-xs-12 no-pad  "><hr /></div>
                        <div class="col-xs-12 col-sm-4 text-up-bold-2 text-center no-pad marg-top-10">{% trans from 'SonataOrderBundle' %}sonata.order.view.billing_title{% endtrans %}</div>
                        <div class="col-sm-4 col-xs-12 no-pad"><hr  /></div>
                        <div class="panel-body review-panel">
                            <div class="row"><div class="col-sm-12">{{ sonata_address_render(order.billingAsArray) }}</div></div>
                        </div>
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
    {% endblock %}

    {% block sonata_order_elements %}
    <!-- Elements -->
    <div class="clearfix">&nbsp;</div>
    <div class="row">

            <div class="panel">
                <div class="col-sm-5 col-xs-12 no-pad   "><hr /></div>
                <div class="col-xs-12 col-sm-2 text-up-bold-2 text-center no-pad marg-top-10">{% trans from 'SonataOrderBundle' %}sonata.order.view.elements{% endtrans %}</div>
                <div class="col-sm-5 col-xs-12 no-pad "><hr  /></div>

                <table class="table">

                    {% block sonata_order_elements_header %}
                        <thead>
                            <div class=" col-sm-7  no-pad">
                                <div class="no-pad hidden-xs col-sm-2 "><hr style="border-color:black;" /></div>
                                <div class=" no-pad col-xs-5 col-sm-3 text-up-bold-5 text-center  thead-tablebag-margin-text-2 ">{% trans from 'SonataOrderBundle' %}sonata.order.view.element.label{% endtrans %}</div>
                                <div class="no-pad  hidden-xs col-sm-7 "><hr style="border-color:black;"/></div>
                            </div>
                            <div class="  col-sm-2  no-pad">
                                <div class="no-pad hidden-xs col-sm-3 "><hr style="border-color:black;"/></div>
                                <div class="no-pad col-xs-2 col-sm-4  text-up-bold-5  text-center thead-tablebag-margin-text-2 " >{% trans from 'SonataOrderBundle' %}sonata.order.view.element.unit_price{% endtrans %}</div>
                                <div class="no-pad hidden-xs col-sm-5  "><hr style="border-color:black;"/></div>
                            </div>
                            <div class=" col-sm-3  no-pad  ">
                                <div class="no-pad hidden-xs col-sm-2  "><hr style="border-color:black; "/></div>
                                <div class="col-sm-5 col-xs-2 text-up-bold-5 text-center  thead-tablebag-margin-text-2    ">{% trans from 'SonataOrderBundle' %}sonata.order.view.element.quantity{% endtrans %}</div>
                                <div class="no-pad hidden-xs col-sm-1 "><hr style="border-color:black; "/></div>
                                <div class="col-sm-3 col-xs-3 text-up-bold-5 text-center thead-tablebag-margin-text-2   " >{% trans from 'SonataOrderBundle' %}sonata.order.view.total_inc{% endtrans %}</div>
                                <div class="no-pad hidden-xs col-sm-1 "><hr style="border-color:black; "/></div>
                            </div>
                        </thead>
                    {% endblock %}

                    <tbody class="review">
                        {% for element in order.orderElements %}
                            <tr>
                                {% block sonata_order_element %}
                                    <td class="hidden-xs">
                                        {% block product_thumbnail %}
                                            {% thumbnail element.product.image, 'preview' with {'itemprop':'image', 'class': 'img-rounded img-responsive'} %}
                                        {% endblock %}
                                    </td>
                                    <td><a href="{{ url('sonata_product_view', {'productId': element.productId, 'slug': element.product.slug}) }}">{{ element.designation }}</a></td>
                                    <td class="number">{{ element.unitPrice(true)|number_format_currency(order.currency.label, {}, {}, order.locale) }}</td>
                                    <td class="number">{{ element.quantity }}</td>
                                    <td class="number">{{ element.total(true)|number_format_currency(order.currency.label, {}, {}, order.locale) }}</td>
                                {% endblock %}
                            </tr>
                        {% endfor %}
                        <tr>
                            <td><span class="glyphicon glyphicon-plane" style="font-size:40px;">&nbsp;</span></td>
                            <td>{% trans from 'SonataOrderBundle' %}sonata.order.view.delivery{% endtrans %}</td>
                            <td class="number">{{ order.deliveryCost|number_format_currency(order.currency.label, {}, {}, order.locale) }}</td>
                            <td class="number">1</td>
                            <td class="number">{{ order.deliveryCost|number_format_currency(order.currency.label, {}, {}, order.locale) }}</td>
                        </tr>
                    </tbody>

                    {% block sonata_order_elements_sumup %}
                        <tfoot>
                            <tr>
                                <td colspan="3" rowspan="{{ 3 + order.getVatAmounts|length }}" class="colspan-mob">&nbsp;</td>
                                <th style="text-align: right">{% trans from 'SonataOrderBundle' %}sonata.order.view.total_excl{% endtrans %}</th>
                                <td class="number"><b>{{ order.totalExcl|number_format_currency(order.currency.label, {}, {}, order.locale) }}</b></td>
                            </tr>

                            <tr>
                                <th style="text-align: right">{% trans from 'SonataOrderBundle' %}sonata.order.view.total_vat{% endtrans %}</th>
                                <td class="number"><b>{{ order.vat|number_format_currency(order.currency.label, {}, {}, order.locale) }}</b></td>
                            </tr>

                            <tr>
                                <th style="text-align: right">{% trans from 'SonataOrderBundle' %}sonata.order.view.total_inc{% endtrans %}</th>
                                <td class="number"><b>{{ order.totalInc|number_format_currency(order.currency.label, {}, {}, order.locale) }}</b></td>
                            </tr>
                        </tfoot>
                    {% endblock %}
                </table>
            </div>
        </div>
</div>
    {% endblock %}

    {% block sonata_order_footer %}
    {% endblock %}
    <script>
        <!-- Correzione colspan tfoot tabella review per mobile-->
        if($(window).width() < 800){
            var colspan = $(".colspan-mob");
            colspan.removeAttr("colspan");
            colspan.attr("colspan","2");

        }
    </script>
{% endblock %}
