{#<div class="collapse text-center container-fluid" style="width: 100%;" id="collapseHome">
    <div class="row">
        <div class="col-md-5 col-xs-12 col-sm-12 no-pad">
            <a href="{{ path('sonata_catalog_index') }}">
                <img class="img-responsive center-block logo" src="{{ asset('bundles/cticibour/images/home/cibour_logo_black_big.png') }}">
            </a>
        </div>
        <div class="col-md-7 col-xs-12 col-sm-12 search">
            <div class="row">
                <div class=" col-xs-10 no-pad">
                    <form class="home-form" action="{{ path('catalog_search') }}" name="form">
                        <img class="img-responsive forchetta" src="{{ asset('bundles/cticibour/images/home/forchetta.png') }}">
                        <input name="search" type="search">
                    </form>
                </div>
                <div class="col-xs-2 no-pad">
                    <a href="">
                        <img class="img-responsive carrello" src="{{ asset('bundles/cticibour/images/home/CARRELLO.png') }}">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 no-pad">
            <a href="">
                <img src="{{ asset('bundles/cticibour/images/home/facies_oriz.jpg') }}" class="img-responsive-height-resized">
            </a>
        </div>
    </div>
    <div class="row login" style="border-bottom:1px solid;">
        <div class="col-xs-6 no-pad">
            <a href="">
                <div class="join-us">JOIN US</div>
            </a>
        </div>
        <div class="col-xs-6 no-pad">
            <a href="{{ path('fos_user_security_login') }}">
                <div class="sign-in">SIGN IN</div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 no-pad"><div class="our-network">OUR NETWORK</div></div>
        <div class="col-sm-3 col-xs-6 link no-pad">
            <a href="">
                <img class="img-responsive-fixed-height center-block" src="{{ asset('bundles/cticibour/images/home/TAVOLA.png')}}">
                FOOD AS ART
            </a>
        </div>
        <div class="col-sm-3 col-xs-6 link no-pad">
            <a href="">
                <img class="img-responsive-fixed-height center-block" src="{{ asset('bundles/cticibour/images/home/FYT.png')}}">
                FYT
            </a>
        </div>
        <div class="col-sm-3 col-xs-6 link no-pad">
            <a href="">
                <img class="img-responsive-fixed-height center-block" src="{{ asset('bundles/cticibour/images/home/FODY.png')}}">
                FODY
            </a>
        </div>
        <div class="col-sm-3 col-xs-6 link no-pad">
            <a href="">
                <img class="img-responsive-fixed-height center-block" src="{{ asset('bundles/cticibour/images/home/e-PASTA.png')}}">
                e-PASTA
            </a>
        </div>
    </div>
</div>

<script>
    $('#collapseHome').on('show.bs.collapse', function () {
        $('#navbar').hide()
    });
    $('#collapseHome').on('hidden.bs.collapse', function () {
        $('#navbar').show()
    });
</script>
#}

