{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends sonata_block.templates.block_base %}
{% block block %}
<div class="row">
    <div class="col-md-12 slider no-pad">
        <div id="recent-products-carousel_{{ block.id }}" class="carousel product-carousel slide">

            <!-- Carousel items -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row">
                        {% for product in products|slice(0, 12) if product.enabled %}
                        {% set link = url('catalog_category', {'categorySlug': product.categories[0].slug, 'categoryId': product.categories[0].id, 'prodottoSlug': product.slug, 'prodottoId': product.id}) %}
                        <div class="col-sm-1">
                            <a href="{{ link }}">
                                {% if product.image %}
                                    {% thumbnail product.image, 'slider' with {'itemprop': 'image', 'alt': product.name, 'title': product.name, 'class': 'img-responsive', 'width': null, 'height': null} %}
                                {% else %}
                                    <img src="http://placehold.it/500x500" alt="Image" class="img-responsive">
                                {% endif %}
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                    <!--/row-->
                </div>
                <!--/item-->
                {% if products|length > 12 %}
                <div class="item">
                    <div class="row">
                        {% for product in products|slice(12, 24) if product.enabled %}
                            {% set link = url('catalog_category', {'categorySlug': product.categories[0].slug, 'categoryId': product.categories[0].id, 'prodottoSlug': product.slug, 'prodottoId': product.id}) %}
                            <div class="col-sm-1">
                                <a href="{{ link }}">
                                    {% if product.image %}
                                        {% thumbnail product.image, 'slider' with {'itemprop': 'image', 'alt': product.name, 'title': product.name, 'class': 'img-responsive', 'width': null, 'height': null} %}
                                    {% else %}
                                        <img src="http://placehold.it/500x500" alt="Image" class="img-responsive">
                                    {% endif %}
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    <!--/row-->
                </div>
                <!--/item-->
                {% endif %}
            </div>
            <!--/carousel-inner-->
    {% if products|length > 12 %}
            <a class="left carousel-control" href="#recent-products-carousel_{{ block.id }}" data-slide="prev">‹</a>

            <a class="right carousel-control" href="#recent-products-carousel_{{ block.id }}" data-slide="next">›</a>
        {% endif %}
        </div>
        <!--/myCarousel-->
    </div>
</div>
{% endblock %}