{% form_theme form 'CTICibourBundle:Form:cti_form.html.twig' %}
<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal fos_user_change_password">
    {{ form_errors(form) }}
    {{ form_rest(form) }}
    <div class="form-actions">
        <button type="submit" name="submit"  class="btn text-center">{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}
            <img src="{{ asset('bundles/cticibour/images/icon_submit.png') }}">
        </button>
    </div>
</form>
